<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form *ngIf="fileContent" [formGroup]="form">
                <json-editor [options]="editorOptions" formControlName="myinput">
                </json-editor>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <p-button class="save-btn" (onClick)="saveFile()" icon="fa-solid fa-floppy-disk" label="save"></p-button>
        </div>
        
    </div>