<p-sidebar styleClass="custom-p-sidebar" [(visible)]="openSideBarMenu">
  <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
</p-sidebar>
<ng-template #sidebarContent>
  <div class="logo"></div>
  <p-panelMenu *ngIf="showMenu" class="side-menu custom-p-panelMenu" [multiple]="false" [model]="menu"></p-panelMenu>
</ng-template>

<app-header>
  <ng-template plmTemplate="leftHeader">
    <button [ngClass]="{
        'menu-btn': !displayBarMenu,
        'hide-menu-btn': displayBarMenu
      }" (click)="openSidebar()">
      <em class="fas fa-bars"></em>
    </button>
  </ng-template>

  <ng-template plmTemplate="centerHeader">
    <div class="logo-center">
      <img src="assets/cypress.svg" height="40" width="80" title="Cypress Cryisalide">
      <h3>Crysalide</h3>
    </div>

    <p-menubar class="menu-horizontal" *ngIf="displayBarMenu && showMenu" [model]="menu"
      (click)="activeMenu($event)"></p-menubar>
  </ng-template>

  <ng-template plmTemplate="rightHeader">
    <div class="right-menu-item">

    </div>


  </ng-template>

</app-header>

<app-body>
  <router-outlet class="feature"></router-outlet>
</app-body>