<button type="button" pButton pRipple icon="fa-solid fa-bars" label="Show" (click)="menu.toggle($event)"></button>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<div class="container">
    <div class="row">
<!-- 
        <div class="col-lg-7">
            <textarea class="form-control" [(ngModel)]="fileContent" rows="15" cols="50"></textarea>
            <button (click)="saveFile(fileContent)">Save</button>
            <button (click)="runCypress()">Run</button>

        </div> -->
    </div>
</div>